body {background-color: rgb(156, 206, 237);
}

h1 {
  text-align: center;
}

 #head-container {
   display: flex;
  justify-content: center;
  align-items: center;
}

#beginButton {
  display: flex;
  justify-content: center;
  align-items: center;

}